@charset "utf-8";
/* CSS Document */
.calendar {
	margin: 0px 40px 40px;
}
.popover.calendar-event-popover {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: rgb(120, 120, 120);
	border-radius: 2px;
	max-width: 300px;
}
.popover.calendar-event-popover h4 {
	font-size: 14px;
	font-weight: 900;
}
.popover.calendar-event-popover .location,
.popover.calendar-event-popover .datetime {
	font-size: 14px;
	font-weight: 700;
	margin-bottom: 5px;
}
.popover.calendar-event-popover .location > span,
.popover.calendar-event-popover .datetime > span {
	margin-right: 10px;
}
.popover.calendar-event-popover .space,
.popover.calendar-event-popover .attending {
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(160, 160, 160);
	font-weight: 700;
}
.popover.calendar-event-popover .space > .pull-right,
.popover.calendar-event-popover .attending > .pull-right {
	font-weight: 400;
}
.popover.calendar-event-popover .attending {
	margin-top: 5px;
	font-size: 18px;
	padding: 0px 10px 5px;
}
.popover.calendar-event-popover .attending img {
	border-radius: 50%;
	width: 40px;
}
.popover.calendar-event-popover .attending span.attending-overflow {
	display: inline-block;
	width: 40px;
	background-color: rgb(200, 200, 200);
	border-radius: 50%;
	padding: 8px 0px 7px;
	text-align: center;
}
.popover.calendar-event-popover .attending > .pull-right {
	font-size: 28px;
}
.popover.calendar-event-popover a.btn {
	margin-top: 10px;
	width: 100%;
	border-radius: 3px;
}
[data-toggle="calendar"] > .row > .calendar-day {
	font-family: 'Roboto', sans-serif;
	width: 14.28571428571429%;
	border: 1px solid rgb(235, 235, 235);
	border-right-width: 0px;
	border-bottom-width: 0px;
	min-height: 120px;
}	
.row > .calendar-name-day {
	font-family: 'Roboto', sans-serif;
	width: 14.28571428571429%;
	border: 1px solid rgb(235, 235, 235);
	border-right-width: 0px;
	border-bottom-width: 0px;
	min-height: 25px;
	background-color:#ffd200;
	text-align:center
}
[data-toggle="calendar"] > .row > .calendar-day.calendar-no-current-month {
	color: rgb(200, 200, 200);
}
[data-toggle="calendar"] > .row > .calendar-day:last-child {
	border-right-width: 1px;
}

[data-toggle="calendar"] > .row:last-child > .calendar-day {
	border-bottom-width: 1px;
}

.calendar-day > time {
	position: absolute;
	display: block;
	bottom: 0px;
	left: 0px;
	font-size: 12px;
	font-weight: 300;
	width: 100%;
	padding: 10px 10px 3px 0px;
	text-align: right;
}
.calendar-day > .events {
	cursor: pointer;
}
.calendar-day > .events > .event h3 {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
	padding:3px;
	color:white;
	border-radius:3px;
}
.calendar-day > .events > .event2 h3 {
	font-size: 12px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 3px;
	padding:3px;
	color:white;
	border-radius:3px;
}

.calendar-day > .events > #evento.event h3 {
	background-color:#d13f34;
}
.calendar-day > .events > #curso.event h3 {
	background-color:#ff9624;
}
.calendar-day > .events > #lanzamiento.event h3 {
	background-color:#9bc12b;
}
.calendar-day > .events > #reuniondetrabajo.event h3 {
	background-color:#276d6b;
}
.calendar-day > .events > #convenio.event h3 {
	background-color:#4265bc;
}
.calendar-day > .events > #efemeride.event h3 {
	background-color:#9c43a3;
}
.calendar-day > .events > #visita.event h3 {
	background-color:#c64b7d;
}
.calendar-day > .events > #coparticipacion.event h3 {
	background-color:#ffd300;
}
.calendar-day > .events > #legislativa.event h3 {
	background-color:#5a2a5e;
}
.calendar-day > .events > #trabajointerjuri.event h3 {
	background-color:#51b7c8;
}
.calendar-day > .events > #otros.event h3 {
	background-color:#424245;
}
.calendar-day > .events > #evento.event2 h3 {
	background-color:#d13f34;
}
.calendar-day > .events > #curso.event2 h3 {
	background-color:#ff9624;
}
.calendar-day > .events > #lanzamiento.event2 h3 {
	background-color:#9bc12b;
}
.calendar-day > .events > #reuniondetrabajo.event2 h3 {
	background-color:#276d6b;
}
.calendar-day > .events > #convenio.event2 h3 {
	background-color:#4265bc;
}
.calendar-day > .events > #efemeride.event2 h3 {
	background-color:#9c43a3;
}
.calendar-day > .events > #visita.event2 h3 {
	background-color:#c64b7d;
}
.calendar-day > .events > #coparticipacion.event2 h3 {
	background-color:#ffd300;
}
.calendar-day > .events > #legislativa.event2 h3 {
	background-color:#5a2a5e;
}
.calendar-day > .events > #trabajointerjuri.event2 h3 {
	background-color:#51b7c8;
}
.calendar-day > .events > #seguimiento.event2 h3 {
	background-color:#E9967A;
}
.calendar-day > .events > #otros.event2 h3 {
	background-color:#424245;
}

.img-center {
	margin:0px auto;
	text-align:center;
}
.ref {
	border:solid 1px #9e9e9e;
}
ul.pagination.pagination-sm {
	width: 100%;
	display: table;
	table-layout: fixed;
}
ul.pagination.pagination-sm li {
	 display: table-cell;
  text-align: center;
}
ul.pagination.pagination-sm li a.active {
	background-color:#fcda59;
	color:white;
}
.mes-titulo {
	text-align:center;
}
.cuadrado-ref {
	height:100%;
	width:100%;
	margin:15px auto;
	color:white;
	border-radius:3px;
	font-weight:700;
	padding:5px;
}

.cuadrado-ref.evento {
	background-color:#d13f34;
}
.cuadrado-ref.curso {
	background-color:#ff9624;
}
.cuadrado-ref.lanzamiento {
	background-color:#9bc12b;
}
.cuadrado-ref.reuniondetrabajo {
	background-color:#276d6b;
}
.cuadrado-ref.convenio {
	background-color:#4265bc;
}
.cuadrado-ref.efemeride {
	background-color:#9c43a3;
}
.cuadrado-ref.visita {
	background-color:#c64b7d;
}
.cuadrado-ref.coparticipacion {
	background-color:#ffd300;
}
.cuadrado-ref.legislativa {
	background-color:#5a2a5e;
}
.cuadrado-ref.seguimiento {
	background-color:#E9967A;
}
.cuadrado-ref.otros {
	background-color:#424245;
}
.cuadrado-ref.trabajointerjuri {
	background-color:#51b7c8;
}
.cuadrado-ref p {
	margin-bottom:0px;
}
.calendar-day > .events > .event > .desc,
.calendar-day > .events > .event > .location,
.calendar-day > .events > .event > .datetime,
.calendar-day > .events > .event > .attending,
.calendar-day > .events > .event > .escribinos.btn.btn-success,
.calendar-day > .events > .event > .area,
.calendar-day > .events > .event > .googlecalendar,
.calendar-day > .events > .event2 > .desc,
.calendar-day > .events > .event2 > .location,
.calendar-day > .events > .event2 > .datetime,
.calendar-day > .events > .event > .attending,
.calendar-day > .events > .event2 > .escribinos.btn.btn-success,
.calendar-day > .events > .event2 > .area,
.calendar-day > .events > .event2 > .googlecalendar {

	display: none;
}
.googlecalendar {
	margin-top: 5px;
}
.calendar-day > .events > .event > .progress {
	height: 10px;
}

div.alert.alert-danger.calendar-day {
	margin-bottom:0px;
}
div.col-md-3 .cuadrado-ref span {
	display:none;
}
.today {
	background-color: #ffd200;
}
.cuadrado-ref {
	cursor:pointer;
	}
.stripes {
	background-image: linear-gradient(-45deg, #ebecec 25%, #fff 25%, #fff 50%, #ebecec 50%, #ebecec 75%, #fff 75%, #fff);
    background-size: 8px 8px;
}
.noconfirmado .cuadrado-ref {
	color:#000000;
	border: 1px solid #000;
	height: 150%;
}
.mostrar-xs {
	display:none;
}

.calendar-day#diauno > .events > .event2 h3 {
    overflow:visible;
    text-overflow:clip;
	position:absolute;
	z-index: 999;
	padding: 3px 30px;
    text-align: center;
}
.calendar-day#diauno > .events > .event h3 {
    overflow:visible;
    text-overflow:clip;
	position:absolute;
	z-index: 999;
	padding: 3px 30px;
    text-align: center;
}
.calendar-day#diados > .events > .event2 h3 {
}
@media only screen and (max-device-width: 769px) {
   .no-mostrar-xs {
	   display:none;
   }
   .mostrar-xs {
	   display:block;
   }
   .popover.calendar-event-popover .location, .popover.calendar-event-popover .datetime {
	   font-size:18px;
   }
   .popover.calendar-event-popover h4 {
	   font-size:23px;
   }
   .popover.calendar-event-popover a.btn {
	   font-size:20px;
   }
   .popover.calendar-event-popover {
	   max-width:500px;
}
.googlecalendar {
	font-size:22px;
}
.googlecalendar-btn {
	width: 200px;	
}
.pagination-sm>li>a, .pagination-sm>li>span {
	font-size:20px;
}
.calendar-day#diauno > .events > .event2 h3 {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    padding: 3px;
    color: white;
    border-radius: 3px;
	position:absolute;
	max-width: 160px;
	
}
.calendar-day#diauno > .events > .event h3 {
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 3px;
    padding: 3px;
    color: white;
    border-radius: 3px;
	position:absolute;
	max-width: 160px;
	
}

}
