@font-face {
  font-family: "CHANEWEI";
  src: url("fonts/CHANEWEI.eot");
  src: url("fonts/CHANEWEI.eot?#iefix") format("embedded-opentype"), 
url("fonts/CHANEWEI.svg#Gotham") format("svg"), 
url("fonts/CHANEWEI.woff") format("woff"), 
url("fonts/CHANEWEI.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; 
}
