@charset "utf-8";
/* CSS Document */

.footer {
	clear:both;
	
	
}
.carousel .carousel-control {
	top:20px
}
.contenedor {
	padding: 15px 20em;
	min-height: calc(100vh - 465px);
}
.circuito {
	margin:0px auto;
	padding:25px 0 ;
}
a.list-group-item.list-thumb {
	border-top:0px;
}
.referencia-form {
	height:25px;
	width:25px;
	display:inline-block;
	content:'';
	margin: 3px;
	border-radius:50%;
    border: solid 1px grey;
    vertical-align: middle;
}
#evento-form {
	background-color:#d13f34;
}
#curso-form {
	background-color:#ff9624;
}
#lanzamiento-form {
	background-color:#9bc12b;
}
#reuniondetrabajo-form {
	background-color:#276d6b;
}
#convenio-form {
	background-color:#4265bc;
}
#efemeride-form {
	background-color:#9c43a3;
}
#visita-form {
	background-color:#c64b7d;
}
#coparticipacion-form {
	background-color:#ffd300;
}
#legislativa-form {
	background-color:#5a2a5e;
}
#trabajointerjuri-form {
	background-color:#51b7c8;
}
#otros-form {
	background-color:#424245;
}
@media only screen and (max-width: 1300px)  {
.contenedor {
	padding: 15px 5em;
	min-height: calc(100vh - 465px);
}	
}

.area-title {
color:white;	
	
}
.lead {
	color:white;
}
body {
margin:0px;
padding:0px;	
}
.ingreso {
	margin:0 auto;	
	padding:35px 15px;
}
.btnenviar {
	display:block;
	margin-bottom: 35px;
	margin-top:25px;
}
/*.btn-primary {
	background-color:#3967a8;
}*/
aside {
    /* same color as selected state on site menu */
    padding:15px;
   
    
    margin-bottom: 2em;
	text-align:center;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: left;
}

input {
	height:30px;
	margin-bottom:10px;
}

.label {
color:#888;	
}
.yellownav {
background-color: black;
    opacity: 0.7;
}
input[type=radio] {
    vertical-align: middle;
    margin: 0;
	padding-top: 5px;
}
input[type=checkbox] {
    vertical-align: middle;
    margin: 0;
	padding-top: 5px;
}
label {
	margin-top:10px;
}
fieldset {
	clear:both	
}
fieldset.col-md-4 {
	clear:none;
}

.modal-img-ejdenoticias {
width:1130px;
height:836px;
text-align:center;	
margin: 0 auto;
}
.modal-img-ejdemailing {
width:80%;
height:80%;
text-align:center;	
margin: 0 auto;
}

.btn-ingreso {
	margin-left:15px;	
}
.redes {
	color:white;
}
.redes:hover {
	opacity: .8;	
}
.atajos {
	margin-bottom:45px;
}

/*MODAL*/
.modal-dialog {
	width:800px;	
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; } 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/

.gracias {
padding: 35px 0px 35px 0px;	
}
 @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
p {
	font-size:25px;	
    }
label {
	font-size:35px;	
}
.btn {
	font-size:35px;
	margin-bottom:15px;
}
h3 {
	font-size:40px;
}
.form-control {
	font-size:25px;
	height:60px;
}
.form-check-label {
	font-size:20px;	
}
a {
	font-size:30px;	
}
.navbar-brand {
	font-size:25px;
 }
legend {
	font-size:35px;	
}
.form-check {
	font-size:30px;
}
.check-responsive {
	font-size: 25px;	
}

 }
