@charset "utf-8";
/* CSS Document */

.footer {
	clear:both;
	
	
}
.contenedor {
	padding: 15px 20em;
	min-height: calc(100vh - 465px);
}
@media only screen and (max-width: 1300px)  {
.contenedor {
	padding: 15px 5em;
	min-height: calc(100vh - 465px);
}	
}

.area-title {
color:white;	
	
}
.lead {
	color:white;
}
body {
margin:0px;
padding:0px;	
}
.ingreso {
	margin:0 auto;	
	padding:35px 15px;
}
.btnenviar {
	display:block;
	margin-bottom: 35px;
	margin-top:25px;
}
/*.btn-primary {
	background-color:#3967a8;
}*/
aside {
    /* same color as selected state on site menu */
    padding:15px;
   
    
    margin-bottom: 2em;
	text-align:center;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-xlarge {
  font-size: 125%;
}
button {
  float: left;
}

input {
	height:30px;
	margin-bottom:10px;
}

.label {
color:#888;	
}
.yellownav {
background-color: black;
    opacity: 0.7;
}
input[type=radio] {
    vertical-align: middle;
    margin: 0;
	padding-top: 5px;
}
input[type=checkbox] {
    vertical-align: middle;
    margin: 0;
	padding-top: 5px;
}
label {
	margin-top:10px;
}
fieldset {
	clear:both	
}


.modal-img-ejdenoticias {
width:1130px;
height:836px;
text-align:center;	
margin: 0 auto;
}
.modal-img-ejdemailing {
width:80%;
height:80%;
text-align:center;	
margin: 0 auto;
}

.btn-ingreso {
	margin-left:15px;	
}
.redes {
	color:white;
}
.redes:hover {
	opacity: .8;	
}
.atajos {
	margin-bottom:45px;
}

/*MODAL*/
.modal-dialog {
	width:800px;	
}
.ingresar {
	padding:20px 0 20px 0;
}
.gracias {
padding: 35px 0px 35px 0px;	
}
  @media only screen and (max-device-width:480px){
       /* styles for mobile browsers smaller than 480px; (iPhone) */
p {
	font-size:25px;	
    }
label {
	font-size:35px;	
}
.btn {
	font-size:35px;
	margin-bottom:15px;
}
h3 {
	font-size:40px;
}
.form-control {
	font-size:25px;
	height:60px;
}
.form-check-label {
	font-size:20px;	
}
a {
	font-size:30px;	
}
.navbar-brand {
	font-size:25px;
 }
legend {
	font-size:35px;	
}
.form-check {
	font-size:30px;
}
.check-responsive {
	font-size: 25px;	
}
.table {
	font-size:25px;	  
	  }
 }/*
.caption {
	height:235px;
}*/
